<h1><%= @tasks.title %></h1>
<p> <%= @tasks.details %> </p>
<p> <%= @tasks.completed %> </p>

<%= link_to "Back to List", tasks_path%>
<%= link_to "Add a new task", new_path %>
<%= link_to "Edit task", edit_path %>
<%= link_to "Delete", delete_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
