<div class="container w-50 mt-2">
  <h1 class="border-round text-success mt-4"><%= @tasks.title %></h1>
  <div class="card py-4 px-4">
  <p class="card text-dark bg-light p-3"><%= @tasks.details %></p>
  <p class="card text-dark bg-light p-3">Completed: <%= @tasks.completed %></p>
  </div>

  <div class="btn-group-vertical">
  <button type="button" class="btn btn-light mt-2"><%= link_to "Back to List", tasks_path, class:"text-decoration-none text-dark"%>
  <button type="button" class="btn btn-success mt-2"><%= link_to "Add a new task", new_path, class:"text-decoration-none text-white" %>
  <button type="button" class="btn btn-primary mt-2"><%= link_to "Edit task", edit_path, class:"text-decoration-none text-white" %>
  <button type="button" class="btn btn-danger mt-2"><%= link_to "Delete", delete_path, class:"text-decoration-none text-white", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>

</div>
